.popup {
  position: fixed;
  @include full;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;

  &.open {
    visibility: visible;
    pointer-events: visible;

    .popup-overlay {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }

    .popup-main {
      opacity: 1;
      visibility: visible;
      @include transition(0.3s, ease-in-out, 0.1s);
    }
  }

  &-overlay {
    position: absolute;
    background-color: rgba($color: $color-black, $alpha: 0.8);
    @include full;
    z-index: 1;
    @include transitionRe;
    opacity: 0;
    visibility: hidden;
  }

  &-main {
    @include mid;
    z-index: 2;
    width: 70rem;
    max-width: 95%;
    @include transitionRe;
    position: fixed;
    opacity: 0;
    visibility: hidden;

    &-wrapper {
      overflow: hidden;
      border-radius: 2rem;
    }
  }

  &-over {
    overflow-y: auto;
    min-height: 40vh;
    max-height: 80vh;
  }

  &-wrapper {
    background-color: white;
    width: 100%;
    min-height: 40vh;
    position: relative;
    padding: 4.8rem 2rem 2rem 2rem;
  }

  &-title {
    @include fz-24;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.6rem;
  }

  &-close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    width: 4rem;
    height: 4rem;
    @include mid-flex;
    z-index: 3;
    border-radius: 1rem;
    background: #f5f7f7;
    &:hover {
      .icon {
        transform: rotate(360deg);
      }
    }
    .icon {
      color: $color-black;
      font-weight: 300;
      font-size: 2.4rem;
      @include transition(0.6s, ease-in-out);
    }
  }
  &-setup {
    background: #edf2f2;
    .popup-wrapper {
      padding: 4rem;
      border-radius: 1rem;
      border: 0.1rem solid #edf2f2;
      background: #fff;
    }
    &-main {
      .igr {
        margin-top: 4.8rem;
        margin-bottom: 3.2rem;
        &-py {
          padding: 4rem 2.4rem;
          border-radius: 1rem;
          background: #fff;
          @include flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
        }
        &-head {
          @include flex;
          justify-content: space-between;
          flex-direction: column;
          max-width: 38rem;
          .t-text {
            @include fz-24;
            font-weight: 700;
            margin-bottom: 2.4rem;
            color: $color-pri;
          }
          .t-txt {
            @include fz-16;
            color: #606769;
          }
        }
      }
    }
    &-check {
      @include flex;
      flex-wrap: wrap;
      gap: 2.4rem;
      margin-bottom: 4.8rem;
      &-it {
        width: calc(50% - 1.2rem);
      }
    }
    &-tlink {
      text-align: center;
      .t-link {
        @include fz-16;
        color: $color-pri;
        font-weight: 600;
      }
    }

    &-btn {
      margin-top: 4rem;
    }
  }
  &-emp {
    .popup-main {
      width: 123rem;
    }
    .popup-wrapper {
      padding: 4.8rem 4rem;
    }
  }
  &-adds {
    .popup-main {
      width: 60rem;
    }
    .popup-wrapper {
      padding: 4rem;
    }
    &-form {
      .form-ip {
        .igr-pos {
          position: relative;
          .t-pos {
            position: absolute;
            top: 50%;
            left: 1.2rem;
            transform: translateY(-50%);
            @include fz-16;
            color: $color-pri;
            font-weight: 600;
            width: max-content;
          }
          input {
            padding-left: 2.2rem;
            font-weight: 600;
            color: $color-pri;
          }
        }
      }
      &-btn {
        margin-top: 4rem;
      }
    }
  }
  &-addemp {
    .popup-main {
      width: 60rem;
    }
    .popup-wrapper {
      padding: 4rem;
    }
  }
}
.chart-circle {
  position: relative;
  .tag {
    position: absolute;
    @include mid;
    color: $color-pri;
    font-weight: 700;
    font-size: 2rem;
    @include flex;
    align-items: center;

    &::after {
      content: "%";
      display: inline-block;
      font-size: inherit;
      color: inherit;
    }
  }
  .t-txt {
    @include fz-14;
    color: #828b8c;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    margin-top: 2.4rem;
  }
}
