.sec-subus-size {
  .subus {
    &-wrap {
      max-width: 50rem;
      margin: 0 auto;
    }
    &-size {
      &-gr {
        @include flex;
        flex-direction: column;
        row-gap: 2.4rem;
        max-width: 14rem;
        margin: 0 auto 4rem;
      }
    }
  }
}
.sec-subus-know {
  .subus {
    &-wrap {
      max-width: 74rem;
      margin: 0 auto;
    }
    &-know {
      &-gr {
        @include flex;
        flex-direction: column;
        row-gap: 2.4rem;
        max-width: 10rem;
        margin: 0 auto 4rem;
      }
    }
  }
}
.sec-subus-soft {
  .subus {
    .head-title {
      .text-sub {
        max-width: 50rem;
        margin: 0 auto;
      }
    }
    &-wrap {
      max-width: 78rem;
      margin: 0 auto;
    }
    &-soft {
      &-gr {
        @include flex;
        flex-direction: column;
        row-gap: 2.4rem;
        max-width: 14rem;
        margin: 0 auto 4rem;
      }
    }
  }
}
.sec-subus-location {
  .subus-location-gr {
    @include mid-flex;
    margin-bottom: 4rem;
  }
}
.sec-subus {
  padding-top: 10rem;
  padding-bottom: 4rem;
  .select-ful {
    span.select2 {
      &:last-child {
        display: none;
      }
    }
  }
}
.subus {
  &-sls {
    margin-bottom: 4rem;
    &-row {
      @include max(768px) {
        --cg: 1.2rem;
        --rg: 2.4rem;
      }
      .col {
        @include max(900px) {
          width: 50%;
        }
      }
    }
    &-it {
      padding: 3.2rem 2.4rem;
      height: 100%;
      @include flex;
      align-items: center;
      border-radius: 1rem;
      border: 0.2rem solid #edf2f2;
      background: #fff;
      transition: 0.3s ease-in-out;
      position: relative;
      @include max(768px) {
        padding: 2.4rem 1.2rem;
      }
      &.active {
        border-color: $color-pri;
      }
      .igr {
        @include flex;
        align-items: center;
        gap: 2.4rem;
        @include max(500px) {
          gap: 1.2rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .icon {
          width: 4rem;
          height: 4rem;
          @include mid-flex;
          @include max(500px) {
            width: 2.8rem;
            height: 2.8rem;
          }
        }
        .t-text {
          @include fz-24;
          font-weight: 600;
          color: $color-text;
        }
        .t-num {
          position: absolute;
          top: 0;
          right: 2rem;
          transform: translateY(-50%);
          width: fit-content;
          padding: 0.4rem 1.4rem;
          border-radius: 0.6rem;
          background: #101212;
          color: #fff;
          @include max(500px) {
            padding: 0.4rem 0.8rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &-block {
    margin-top: 4.8rem;
  }
}
.acc {
  &-row {
    justify-content: space-between;
  }
  &-info {
    .igr {
      @include flex;
      align-items: center;
      gap: 1.2rem;
    }
    &-image {
      width: 8rem;
      height: 8rem;
      position: relative;
      .inner {
        width: 100%;
        height: 100%;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
      .icon-edit {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        transform: translate(50%, 50%);
        cursor: pointer;
        img {
          display: block;
          border-radius: 0.4rem;
        }
      }
    }
  }
  &-ctrs {
    margin-top: 2.8rem;
    &-list {
      @include flex;
      flex-direction: column;
      gap: 1.2rem;
      .t-link {
        @include flex;
        align-items: center;
        gap: 0.8rem;
        padding: 1.2rem;
        border-radius: 0.1rem;
        transition: 0.3s ease-in-out;
        border-radius: 1rem;
        &.active {
          background: $color-pri;
          .t-text {
            color: #fff;
          }
          .icon {
            filter: brightness(100%) invert(1);
          }
        }
        @include hover {
          background: $color-pri;
          .t-text {
            color: #fff;
          }
          .icon {
            filter: brightness(100%) invert(1);
          }
        }
        .icon {
          width: 2.4rem;
          height: 2.4rem;
          @include mid-flex;
          transition: 0.3s ease-in-out;
        }
        .t-text {
          @include fz-16;
          color: $color-text;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  &-log {
    margin-top: 2.4rem;
    .btn {
      background: transparent;
      color: #e14d56;
    }
  }
  &-prof {
    &-head {
      margin-bottom: 2.8rem;
    }
    &-py {
      padding: 2.4rem;
      border-radius: 1rem;
      border: 0.1rem solid #edf2f2;
      background: #fff;
      box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    }
    &-top {
      .name {
        @include font-second;
        font-weight: 500;
        @include fz-32;
        color: $color-pri;
        text-align: center;
      }
    }
    &-image {
      .inner {
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 1.2rem;
        img {
          display: block;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &-mid {
      margin-top: 4.8rem;
    }
    &-ul {
      @include flex;
      flex-direction: column;
      row-gap: 2.4rem;
    }
    &-li {
      @include flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      .igrs {
        @include flex;
        align-items: center;
        gap: 1.2rem;
        .icon {
          width: 2.4rem;
          height: 2.4rem;
          @include mid-flex;
        }
        .t-text {
          color: #606769;
        }
      }
      .icon-edit {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        @include mid-flex;
        border-radius: 0.4rem;
        overflow: hidden;
      }
    }
    &-bn {
      margin-top: 2.6rem;
      .inner {
        border-radius: 1rem;
        overflow: hidden;
        img {
          display: block;
        }
      }
    }
    &-btn {
      margin-top: 4rem;
    }
  }
  &-bio {
    &-head {
      @include flex;
      gap: 1.2rem;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.2rem;
      border-bottom: 0.1rem solid #edf2f2;
      .icon {
        width: 2.4rem;
        height: 2.4rem;
        @include mid-flex;
        overflow: hidden;
        border-radius: 0.4rem;
      }
    }
    &-des {
      margin-top: 1.2rem;
      font-size: 1.2rem;
    }
  }
  &-rb {
    &-boxs {
      @include flex;
      gap: 3.2rem;
    }
    &-box {
      &-in {
        height: 100%;
        padding: 2.4rem;
        @include flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1rem;
        background: #fff;
        box-shadow: 0px 1rem 6rem 0px rgba(226, 236, 249, 0.5);
        .igr {
          @include flex;
          align-items: center;
          gap: 1.6rem;
          .t-txt {
            @include fz-14;
            color: #828b8c;
          }
          .icon-rb {
            width: 8.4rem;
            height: 8.4rem;
            @include flex;
          }
          .igrs {
            @include flex;
            flex-direction: column;
            row-gap: 0.4rem;
            .t-gr {
              @include flex;
              align-items: center;
              gap: 0.2rem;
              .icon {
                width: 2.4rem;
                height: 2.4rem;
                @include mid-flex;
              }
              .t-text {
                color: #00ac4f;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .t-txt2 {
                color: #3a3f40;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
  &-fb {
    margin-top: 4.8rem;
    &-row {
      @include flex;
      margin: 0 -1.6rem;
    }
    &-left {
      width: calc((5 / 9) * 100%);
      padding: 0 1.6rem;
    }
    &-right {
      width: calc((4 / 9) * 100%);
      padding: 0 1.6rem;
    }
    &-py {
      padding: 4.6rem;
      background: #fff;
      box-shadow: 0px 1rem 6rem 0px rgba(226, 236, 249, 0.5);
    }
    &-head {
      @include flex;
      flex-direction: column;
      gap: 0.4rem;
      .t-text {
        @include fz-24;
        color: $color-pri;
        font-weight: 700;
      }
      .t-txt {
        @include fz-16;
        color: #828b8c;
      }
    }
    &-ovs {
      @include flex;
      justify-content: center;
      height: 30rem;
      align-items: flex-end;
      gap: 2rem;
    }
    &-ov {
      width: 4rem;
      height: calc(var(--value) * 1%);
      cursor: pointer;
      @include hover {
        .inner {
          background: #5932ea;
          .t-pos {
            opacity: 1;
          }
        }
        .t-text {
          color: #5932ea;
        }
      }
      .inner {
        border-radius: 1rem;
        height: 100%;
        background: #edf2f2;
        transition: 0.3s ease-in-out;
        position: relative;
        .t-pos {
          @include flex;
          align-items: center;
          gap: 0.4rem;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          margin-bottom: 1.2rem;
          padding: 0.4rem 0.8rem;
          background: $color-pri;
          border-radius: 1rem;
          opacity: 0;
          transition: 0.3s ease-in-out;
          &::before {
            content: "";
            position: absolute;
            width: 1.2rem;
            height: 1rem;
            background: $color-pri;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
          }
          .icon {
            @include mid-flex;
            color: #00ac4f;
            font-family: 700;
          }
          .t-txt {
            color: #fff;
            font-weight: 600;
          }
        }
      }
      .t-text {
        text-align: center;
        margin-top: 1.4rem;
        transition: 0.3s ease-in-out;
        @include fz-14;
      }
    }
  }
}
.sec-subus.sec-subus-name {
  .subus-wrap {
    padding: 4rem;
    max-width: 70rem;
    margin: 0 auto;
    border-radius: 10px;
    border: 0.1rem solid #edf2f2;
    background: #fff;
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
  }
}
