footer.sec-ft.ss-pd
   .container 
      .ft
         .ft-wrap 
            .ft-logo 
               a(href="").custom-logo-link
                  +img("ft-logo.svg")
            .ft-block 
               .ft-row.row 
                  .col
                     .ft-box 
                        p.ft-title 
                           | About Us 
                        .ft-if 
                           p.t16.mb-12
                              | NailTechHub, LLC.
                           .t-gr 
                              span.fw-7.t16.fw-7 
                                 | Email: 
                              a(href="").t-link.t16
                                 | support@nailtechhub.com
                        .t16 
                           p 
                              | Create an online platform connecting quality nail service providers and customers in need of nail care. NailTechHub wants to bring convenience, interaction and reliability in the process of searching, scheduling and nail services.
                        .ft-social 
                           a(href="").i-link
                              +img("icon-social (1).svg")
                           a(href="").i-link
                              +img("icon-social (2).svg") 
                           a(href="").i-link
                              +img("icon-social (3).svg") 
                  .col
                     .ft-menu 
                        p.ft-title 
                           | Service 
                        .ft-menu-nav 
                           ul.menu-list 
                              li.menu-item 
                                 a(href="").menu-link
                                    | Salon Directory
                              li.menu-item 
                                 a(href="").menu-link
                                    | Technician Profiles
                              li.menu-item 
                                 a(href="").menu-link
                                    | Booking Platform
                              li.menu-item 
                                 a(href="").menu-link
                                    | Customized Recommendations
                  .col
                     .ft-menu 
                        p.ft-title 
                           | Policy 
                        .ft-menu-nav 
                           ul.menu-list 
                              li.menu-item 
                                 a(href="").menu-link
                                    | User Privacy
                              li.menu-item 
                                 a(href="").menu-link
                                    | Terms of Service
                              li.menu-item 
                                 a(href="").menu-link
                                    | Transparent Pricing
                              li.menu-item 
                                 a(href="").menu-link
                                    | Secure Payments
                              li.menu-item 
                                 a(href="").menu-link
                                    | Cancellation & Rescheduling
