extends layout/layout

block vars
   -title = 'Customer'
   -bodyClass = 'page-customer'

block container 
   +breadCrumb(["Customer"])
   .popup(data-popup-id="detail")
      .popup-overlay
      .popup-main(class="bookingDetail")
         .popup-main-wrapper
         .popup-over
            .popup-wrapper
               .container 
                  .ck-suc 
                     .ck-suc-bill
                        .head.t-center 
                           +tts("Booking detail","")
                        .ck-suc-ctn 
                           .ck-suc-ctn-head 
                              .ck-suc-ctn-item
                                 .ck-suc-ctn-wr
                                    span.name Booking number
                                    span.val 0123456
                              .ck-suc-ctn-item
                                 .ck-suc-ctn-wr
                                    span.name Check in
                                    span.val July 1st 2023
                              .ck-suc-ctn-item
                                 .ck-suc-ctn-wr
                                    span.name Total
                                    span.val $1,100
                              .ck-suc-ctn-item
                                 .ck-suc-ctn-wr
                                    span.name Payment method
                                    span.val Stripe
                           .ck-suc-ctn-body.row
                              -
                                 var arrs = [
                                    "Manicure",
                                    "Pedicure",
                                    "Pedicure",
                                    "Pedicure",
                                    "TAXES",
                                    "TIP",
                                 ] 
                              each val in arrs
                                 .ck-suc-item.col 
                                    .ck-suc-item-flex
                                       .left
                                          span.left-tt #{val}
                                          span.left-sub 1h 20min
                                          span.left-price $250
                                       .right A manicure typically includes nail shaping, cuticle care, hand massage, and nail polish application.
         .popup-close
            i.fas.fa-times.icon
   section.acc.ss-pd
      .container
         .acc-flex.row
            .acc-left.col.col-4
            .acc-right.col.col-8
               .wrapper 
                  .head
                     .head-title
                        h2.t-title-second  Booking History
                  .acc-table 
                     table 
                        thead 
                           tr 
                              th Nail salons & Time
                              th Services & Fee
                              th Status
                              th 
                        tbody 
                           -
                              var arrs = [
                                 "success",
                                 "process",
                                 "cancel",
                                 "cancel",
                                 "cancel",
                                 "cancel",
                              ]
                           each val in arrs
                              tr 
                                 td 
                                    .acc-table-item 
                                       .img 
                                          +img("avatar.jpg")
                                       .info 
                                          span.tt Excellent Nails
                                          span.date July 1st 2023
                                 td 
                                    .acc-table-sv 
                                       .name Manicure, Pedicure 
                                       .price $1000
                                 td 
                                    .acc-table-btn(class=val) Finished
                                 td 
                                    .acc-table-link.popup-open(data-popup="detail") Detail
                  +Btn("Load more ","","three","h-ic-arrow.svg")       