extends layout/layout

block vars
    -title = 'Location'
    -bodyClass = ''

block container 
   +breadCrumb(["Verify phone","Business name","Service","Team size","Location","Software used","Know from where"])
   section.sec-subus.ss-pd.sec-subus-location
      .container 
         .subus 
            .subus-wrap 
               .subus-head 
                  .head-title.t-center 
                     +tts("Set your location","Add your business location so your clients can easily find you")
               .subus-block
                  form(action="")
                     .subus-location-gr.recheck-block
                        +check("I don’t have a business address (mobile and online services only)","")
                     +Btn("Next step","button","center")